.row-container {
    margin-left: 1.5rem;
    color: #FFF;
}
.row-cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 1.5rem;
}
.row-cards::-webkit-scrollbar{
    display: none;
}
.movie-card-img {
    width: 100%;
    object-fit: contain;
    max-height: 10rem;
    margin-bottom: 1rem;
    transition: all .45s;
}
.movie-card-img-large {
    width: 100%;
    object-fit: contain;
    max-height: 15rem;
    margin-bottom: 1rem;
    transition: all .45s;
}
.movie-card-img:hover {
    transform: scale(1.08);
}